In [3]:
import pandas as pd
import os

In [6]:
file = os.path.expanduser("~/Downloads/customers-1000.csv")

In [7]:
print(file)

/home/aniket/Downloads/customers-1000.csv

In [9]:
file_contents = pd.read_csv(file)

In [10]:
df = pd.DataFrame(file_contents)

In [13]:
df.head(3)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/

In [35]:
df['Phone 1'].isnull().sum()

np.int64(0)

In [33]:
df[df['Phone 2'].isnull()]

Empty DataFrame
Columns: [Index, Customer Id, First Name, Last Name, Company, City, Country, Phone 1, Phone 2, Email, Subscription Date, Website]
Index: []

In [36]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Index, Customer Id, First Name, Last Name, Company, City, Country, Phone 1, Phone 2, Email, Subscription Date, Website]
Index: []

In [45]:
df.isnull().sum()

Index                0
Customer Id          0
First Name           0
Last Name            0
Company              0
City                 0
Country              0
Phone 1              0
Phone 2              0
Email                0
Subscription Date    0
Website              0
dtype: int64

In [46]:
df.head(3)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/

In [68]:
df2 = df['Phone 1'].str.replace(['-', 'x'], '', regex=False)

In [69]:
df2.head(3)

0   NaN
1   NaN
2   NaN
Name: Phone 1, dtype: float64

In [21]:
import os
import pandas as pd

In [56]:
file = os.path.expanduser("~/Projects/retail-sales-analytics-pipeline/data/products.json")

In [57]:
json_data = pd.read_json(file)

In [58]:
df = pd.DataFrame(json_data)

In [59]:
df.head(3)

  product_id          product_name     category  price  quantity
0       P001        Wireless Mouse  Electronics  19.99       150
1       P002  Bluetooth Headphones  Electronics  59.99        80
2       P003       Gaming Keyboard  Electronics  49.99        40

In [36]:
df.dtypes

product_id       object
product_name     object
category         object
price           float64
quantity         object
dtype: object

In [27]:
df = df.astype(
    {
        "product_id": "string",
        "product_name": "string",
        "category": "string",
        "price": "float64",
        "quantity": "int64"
    }
)

ValueError: invalid literal for int() with base 10: '8A': Error while type casting for column 'quantity'

In [17]:
df.dtypes

product_id      string[python]
product_name    string[python]
category        string[python]
price                  float64
quantity                 int64
dtype: object

In [52]:
schema = os.path.expanduser("~/Projects/retail-sales-analytics-pipeline/config/schema_products.json")

In [53]:
#json_schema = pd.read_json(schema)
import json
with open(schema) as f:
    json_schema = json.load(f)

In [54]:
json_schema

{'product_id': 'string',
 'product_name': 'string',
 'category': 'string',
 'price': 'float64',
 'quantity': 'int64'}

In [63]:
try:
    df = df.astype(json_schema)
except Exception as e:
    print(f"Data doesnt confirm to schema properties: {e}")

In [62]:
df.dtypes

product_id      string[python]
product_name    string[python]
category        string[python]
price                  float64
quantity                 int64
dtype: object

In [67]:
pip install snowflake-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting snowflake-connector-python
  Downloading snowflake_connector_python-3.14.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 196.8 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting filelock<4,>=3.5
  Downloading filelock-3.18.0-py3-none-any.whl (16 kB)
Collecting pyOpenSSL<26.0.0,>=22.0.0
  Downloading pyOpenSSL-25.0.0-py3-none-any.whl (56 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.5/56.5 KB 290.0 kB/s eta 0:00:00MB/s eta 0:00:01
Collecting tomlkit
  Downloading tomlkit-0.13.2-py3-none-any.whl (37 kB)
Collecting asn1crypto<2.0.0,>0.24.0
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 KB 150.0 kB/s eta 0:00:00[36m0:00:01[36m0:00:01:01
Collecting sortedcontainers>=2.4.0
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: requests<3.0.0 in /home/aniket/.local/lib/python3.10/site-packages (from snowflake-connector-python) (2.32.3)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /home/aniket/.local/lib/python3.10/site-packages (from snowflake-connector-python) (1.17.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from snowflake-connector-python) (3.3)
Requirement already satisfied: cryptography>=3.1.0 in /usr/lib/python3/dist-packages (from snowflake-connector-python) (3.4.8)
Requirement already satisfied: typing_extensions<5,>=4.3 in /home/aniket/.local/lib/python3.10/site-packages (from snowflake-connector-python) (4.13.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in /home/aniket/.local/lib/python3.10/site-packages (from snowflake-connector-python) (4.3.7)
Requirement already satisfied: pyjwt<3.0.0 in /usr/lib/python3/dist-packages (from snowflake-connector-python) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/aniket/.local/lib/python3.10/site-packages (from snowflake-connector-python) (2025.1.31)
Requirement already satisfied: packaging in /home/aniket/.local/lib/python3.10/site-packages (from snowflake-connector-python) (24.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/aniket/.local/lib/python3.10/site-packages (from snowflake-connector-python) (3.4.1)
Requirement already satisfied: pytz in /home/aniket/.local/lib/python3.10/site-packages (from snowflake-connector-python) (2025.2)
Requirement already satisfied: pycparser in /home/aniket/.local/lib/python3.10/site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.22)
Collecting cryptography>=3.1.0
  Downloading cryptography-44.0.2-cp39-abi3-manylinux_2_34_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 199.4 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/lib/python3/dist-packages (from requests<3.0.0->snowflake-connector-python) (1.26.5)
Installing collected packages: sortedcontainers, asn1crypto, tomlkit, filelock, cryptography, pyOpenSSL, snowflake-connector-python
Successfully installed asn1crypto-1.5.1 cryptography-44.0.2 filelock-3.18.0 pyOpenSSL-25.0.0 snowflake-connector-python-3.14.0 sortedcontainers-2.4.0 tomlkit-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [74]:
import snowflake.connector