In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 3.2 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting numpy>=1.22.4
  Downloading numpy-2.2.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 3.6 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 509.2/509.2 KB 1.9 MB/s eta 0:00:00[36m0:00:01[36m0:00:01:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/aniket/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 347.8/347.8 KB 1.1 MB/s eta 0:00:00[31m7.3 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.4 pandas-2.2.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as p
import os

In [6]:
file_path = os.path.expanduser("~/Projects/retail-sales-analytics-pipeline/data")

In [8]:
file_name = "products.json"

In [10]:
combine = os.path.join(file_path,file_name)
print(combine)

/home/aniket/Projects/retail-sales-analytics-pipeline/data/products.json

In [11]:
json_data = p.read_json(combine)

In [12]:
print(json_data)

  product_id            name     category   price  in_stock
0       P001  Wireless Mouse  Electronics  499.99      True
1       P002        Yoga Mat      Fitness  999.00     False

In [13]:
df = p.DataFrame(json_data)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  2 non-null      object
 1   name        2 non-null      object
 2   category    2 non-null      object
 3   price       2 non-null      float64
 4   in_stock    2 non-null      bool
dtypes: bool(1), float64(1), object(3)
memory usage: 194.0+ bytes

In [39]:
print(df.duplicated().sum())

0

In [40]:
print(df.isnull().sum())

product_id    0
name          0
category      0
price         0
in_stock      0
dtype: int64

In [45]:
header = df.columns.tolist()

In [46]:
print(header)

['product_id', 'name', 'category', 'price', 'in_stock']

In [48]:
df

  product_id            name     category   price  in_stock
0       P001  Wireless Mouse  Electronics  499.99      True
1       P002        Yoga Mat      Fitness  999.00     False

In [54]:
df.columns[1]

'name'

In [61]:
df[['name', 'price']]

             name   price
0  Wireless Mouse  499.99
1        Yoga Mat  999.00

In [68]:
df[['price']].isnull()

   price
0  False
1  False

In [69]:
del df

In [70]:
combine

'/home/aniket/Projects/retail-sales-analytics-pipeline/data/products.json'

In [71]:
json_data = p.read_json(combine)

In [72]:
df = p.DataFrame(json_data)

In [73]:
df

  product_id          product_name     category   price  quantity
0       P001        Wireless Mouse  Electronics   19.99       150
1       P002  Bluetooth Headphones  Electronics   59.99        80
2       P003       Gaming Keyboard  Electronics   49.99        40
3       P004             USB-C Hub  Accessories   29.99       120
4       P005                Webcam  Electronics   39.99        60
5       P006          Laptop Stand  Accessories   34.99        70
6       P007          Portable SSD      Storage   89.99        45
7       P008            Smartwatch    Wearables  129.99        30
8       P009           Monitor 24"  Electronics  159.99        20
9       P010     Mechanical Pencil   Stationery    2.99       500

In [79]:
new_df = df[['product_name','price']]

In [80]:
new_df

           product_name   price
0        Wireless Mouse   19.99
1  Bluetooth Headphones   59.99
2       Gaming Keyboard   49.99
3             USB-C Hub   29.99
4                Webcam   39.99
5          Laptop Stand   34.99
6          Portable SSD   89.99
7            Smartwatch  129.99
8           Monitor 24"  159.99
9     Mechanical Pencil    2.99

In [93]:
new_df.sort_values('price', ascending = False)

           product_name   price
8           Monitor 24"  159.99
7            Smartwatch  129.99
6          Portable SSD   89.99
1  Bluetooth Headphones   59.99
2       Gaming Keyboard   49.99
4                Webcam   39.99
5          Laptop Stand   34.99
3             USB-C Hub   29.99
0        Wireless Mouse   19.99
9     Mechanical Pencil    2.99

In [95]:
new_df[new_df['price']>50.00].sort_values('price', ascending = False)

           product_name   price
8           Monitor 24"  159.99
7            Smartwatch  129.99
6          Portable SSD   89.99
1  Bluetooth Headphones   59.99

In [96]:
df

  product_id          product_name     category   price  quantity
0       P001        Wireless Mouse  Electronics   19.99       150
1       P002  Bluetooth Headphones  Electronics   59.99        80
2       P003       Gaming Keyboard  Electronics   49.99        40
3       P004             USB-C Hub  Accessories   29.99       120
4       P005                Webcam  Electronics   39.99        60
5       P006          Laptop Stand  Accessories   34.99        70
6       P007          Portable SSD      Storage   89.99        45
7       P008            Smartwatch    Wearables  129.99        30
8       P009           Monitor 24"  Electronics  159.99        20
9       P010     Mechanical Pencil   Stationery    2.99       500

In [97]:
df['inventory_value'] = df['price']*df['quantity']

In [98]:
df

,product_id,product_name,category,price,quantity,inventory_value
0,P001,Wireless Mouse,Electronics,19.99,150,2998.50
1,P002,Bluetooth Headphones,Electronics,59.99,80,4799.20
2,P003,Gaming Keyboard,Electronics,49.99,40,1999.60
3,P004,USB-C Hub,Accessories,29.99,120,3598.80
4,P005,Webcam,Electronics,39.99,60,2399.40
5,P006,Laptop Stand,Accessories,34.99,70,2449.30
6,P007,Portable SSD,Storage,89.99,45,4049.55
7,P008,Smartwatch,Wearables,129.99,30,3899.70
8,P009,"Monitor 24""",Electronics,159.99,20,3199.80
9,P010,Mechanical Pencil,Stationery,2.99,500,1495.00

In [99]:
df.sort_values('inventory_value', ascending = False)

,product_id,product_name,category,price,quantity,inventory_value
1,P002,Bluetooth Headphones,Electronics,59.99,80,4799.20
6,P007,Portable SSD,Storage,89.99,45,4049.55
7,P008,Smartwatch,Wearables,129.99,30,3899.70
3,P004,USB-C Hub,Accessories,29.99,120,3598.80
8,P009,"Monitor 24""",Electronics,159.99,20,3199.80
0,P001,Wireless Mouse,Electronics,19.99,150,2998.50
5,P006,Laptop Stand,Accessories,34.99,70,2449.30
4,P005,Webcam,Electronics,39.99,60,2399.40
2,P003,Gaming Keyboard,Electronics,49.99,40,1999.60
9,P010,Mechanical Pencil,Stationery,2.99,500,1495.00

In [102]:
df[df['inventory_value']>3000.00]

,product_id,product_name,category,price,quantity,inventory_value
1,P002,Bluetooth Headphones,Electronics,59.99,80,4799.20
3,P004,USB-C Hub,Accessories,29.99,120,3598.80
6,P007,Portable SSD,Storage,89.99,45,4049.55
7,P008,Smartwatch,Wearables,129.99,30,3899.70
8,P009,"Monitor 24""",Electronics,159.99,20,3199.80

In [104]:
df.dtypes

product_id          object
product_name        object
category            object
price              float64
quantity             int64
inventory_value    float64
dtype: object